.categories-container {
  margin-top: 6px;
}
.categories-container h2 {
  font-size: 1.5rem;
  padding-left: 1rem;
}
.categories {
  margin: 20px 0;
  display: grid;
  place-items: center;
  grid-template-columns:repeat(8, 1fr);
  gap: 0.8rem;

}
.categories img {
  width: 75%;
  border-radius: 50%;
  cursor: pointer;
}