.slidebar{
    margin: 20px auto;
    width: 90vw;
    height: 250px;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 20px;
    overflow: scroll;
}
.slidebar img{
    height: 220px;
    width:100vw;
    cursor: pointer;
}